<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container container-table" style="padding: 2%;">
        <table class="table table-striped table-hover t-resp">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Identificacion</th>
                    <th>nombres</th>
                    <th>apellidos</th>
                    <th>Correo Personal</th>
                    <th>Correo Institucional</th>
                    <th>alianza</th>
                    <th>Cargo</th>
                    <th>Estado</th>
                    <th>Area</th>
                    <th>Region</th>
                </tr>
            </thead>
            <tbody>
                {% for reqs in personas %}
                <tr>
                    <td>{{reqs.id_trabajador}}</td>
                    <td>{{reqs.identificacion}}</td>
                    <td>{{reqs.nombres}}</td>
                    <td>{{reqs.apellidos}}</td>
                    <td>{{reqs.correo_personal}}</td>
                    <td>{{reqs.correo_institucional}}</td>
                    <td>{{reqs.id_alianza}}</td>
                    <td>{{reqs.id_cargo}}</td>
                    <td>{{reqs.id_estado_persona}}</td>
                    <td>{{reqs.id_area}}</td>
                    <td>{{reqs.id_region}}</td>
                    <td class="col-md-1 text-center">
                        <a href="{% url 'editar' reqs.id_trabajador %}" class="btn"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                        <button onclick="abrir_modal_eliminacion('{% url 'eliminar' reqs.id_trabajador %}')" class="btn"><i
                                class="fa-solid fa-trash"></i></button>

                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true"
        role="dialog"></div>

        <!-- Boostrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/24bba0bedc.js" crossorigin="anonymous"></script>
        <!-- Sweet Alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

        <script type="text/javascript">
            var $ = jQuery.noConflict();
            function abrir_modal_edicion(url) {
                $('#updateModal').load(url, function () {
                    $(this).modal('show')
                })
            }
            function abrir_modal_creacion(url) {
                $('#createModal').load(url, function () {
                    $(this).modal('show')
                })
            }
            function abrir_modal_eliminacion(url) {
                $('#deleteModal').load(url, function () {
                    $(this).modal('show')
                })
            }
        </script>
</body>

</html>