.ActivosBody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f4f6;
    width: 100vw;
    height: 100vh;
}

.PersonasBody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f4f6;
    width: 100vw;
    height: 100vh;
}