#licenciaPersonas,
#licenciaEquipos,
#licenciaAreas,
#region,
#licenciapersona,
#licenciaequipo,
#coordinador,
#marcaequipo,
#so,
#discoduro,
#memoriaram {
    padding: 1vh .6vw;
    cursor: pointer;
    margin: 0 4px;
    transition: background-color 0.3s, color 0.3s;
}

#licenciaPersonas:hover,
#licenciaEquipos:hover,
#licenciaAreas:hover,
#region:hover,
#licenciapersona:hover,
#licenciaequipo:hover,
#coordinador:hover,
#marcaequipo:hover,
#so:hover,
#discoduro:hover,
#memoriaram:hover {
    transform: scale(1.05);
    background: -webkit-linear-gradient(#292929, #a0acaf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*border-bottom: 2px solid #384295;*/
}

#licenciaEquipos.active,
#licenciaPersonas.active,
#licenciaAreas.active,
#region.active,
#licenciapersona.active,
#licenciaequipo.active,
#coordinador.active,
#marcaequipo.active,
#so.active,
#discoduro.active,
#memoriaram.active {
    background: -webkit-linear-gradient(#384295, #4f60c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*border-bottom: 2px solid #384295;*/
}


.contbuscador-licenciasPer {
    padding: 1.1vh;
    margin-bottom: 3vh;
    width: 15vw;
    box-sizing: border-box;
    border: 000.1vh solid #ccc;
    border-radius: 10px;
    position: relative;
    margin-left: 38.5vh;
    margin-top: 1.5vh;
    background: #f3f4f6 !important;
}

.contbuscador-licenciasEquip {
    padding: 1.1vh;
    margin-bottom: 3vh;
    width: 15vw;
    box-sizing: border-box;
    border: 000.1vh solid #ccc;
    border-radius: 10px;
    position: relative;
    margin-left: 38.5vh;
    margin-top: 1.5vh;
    background: #f3f4f6 !important;
}

.agregar-licPersonas,
.agregar-licEquipos {
    position: absolute;
    margin-left: 35.5vw;
    margin-top: -6.5vh;
    cursor: pointer;
}

.agregar-licPersonas:hover,
.agregar-licEquipos:hover {
    position: absolute;
    cursor: pointer;
    transform: scale(1.6);
}