body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-login {
    height: 80%;
    width: 80%;
}

.contenedor-login {
    width: 300px;
    padding: 20px;
    text-align: center;
}

.inicio-login {
    margin-top: 40px;
}

.grupos-input-login {
    margin-top: 40px;
}

.username,
.password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-input-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-toggle-icon {
    position: absolute;
    right: 1vw;
    top: 1vh;
    cursor: pointer;
}

#password-login,
#email-login {
    margin-top: -3px;
}

.editemail-login {
    margin-left: -245px;
}

.editpass-login {
    margin-left: -220px;
    margin-top: 2px;
}

.forgot-password-login {
    float: right;
    color: #007BFF;
    text-decoration: none;
    margin-left: 25px;
}

.forgot-password:hover {
    color: #007BFF;
    text-decoration: underline;
}

.checkboxs-login {
    font-size: small;
    margin-right: 50px;
}

.buttons-login {
    margin-top: 30px;
}

.button1-login {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    color: white;
    background: #545c8c;
    transition: background 0.3s ease;
}

.button1-login:hover {
    transform: scale(1.04);
}

.botonreg-login {
    background: -webkit-linear-gradient(#384295, #4f60c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.botonreg-login:hover {
    transform: scale(1.2);
}